.pro_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_left {
  padding-right: 50px;
}
.content_left p {
  width: 700px;
}
.content_right {
  padding-bottom: 56px;
}
