.promo {
  background-color: #343a40;
}
.pro {
  max-width: 1230px;
  margin: auto;
}
.pro_top {
  color: white;
  text-align: center;
  font-size: 30px;
}
.pro_bottom {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}
.pro_bottom img {
  width: 100%;
  height: 120px;
}
