.bg-dark {
  justify-content: space-between;
  align-items: center;
}
.left {
  font-size: 15px;
  margin-left: 20px;
  margin-top: 10px;
}
.right {
  background-color: transparent;
  margin-right: 3px;
}
.nav-link {
  font-size: 20px;
  color: #888888 !important;
}
.active {
  color: white !important;
}
.nav-link:hover {
  color: rgb(191, 180, 180) !important;
}
.active:hover {
  color: white !important;
}
