.smartphone {
  background-color: #343a40;
}
.smart_top {
  text-align: center;
  color: white;
  font-size: 30px;
}
.smart_botton {
  display: flex;
  justify-content: space-around;
}
.card {
  background-color: #f8f9fa;
  height: 500px;
  margin-right: 5px;
}
.card-body h5 {
  font-weight: 600;
  font-size: 25px;
}

.card img {
  width: 100%;
  height: 300px;
}
.card-body {
  text-align: center;
}
.card-body h5 {
  font-weight: 700;
}
.card-body .card-link:first-child {
  display: block;
  width: 60px;
  height: 30px;
  padding: 2px;
  border-radius: 5px;
}
.card-body .card-link:last-child {
  display: block;
  width: 60px;
  height: 30px;
  padding: 2px;
  border-radius: 5px;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
